/*
* @Author: myliu
* @Date:   2017-10-20 09:50:18
* @Last Modified by:   lisiyu
* @Last Modified time: 2017-10-20 09:53:06
*/
body {
	background: rgba(188, 211, 229 , 0.9);
  	height: 280px;
  	font-family: sans-serif;
}