/*
* @Author: myliu
* @Date:   2017-10-20 09:50:18
* @Last Modified by:   lisiyu
* @Last Modified time: 2017-11-14 09:18:09
*/
* {
	margin: 0;
	padding: 0;
}
body {
	background: rgba(50, 50, 50 , 0.9);
  	height: 280px;
  	font-family: sans-serif;
}
input[type=text] {
	height: 30px;
	font-size: 15px;
}
input.content{
	border: 0;
	color: #fff;
	background-color: #555;

}
#tab_template {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #555;
	box-shadow: 0px 2px 1px 5px rgba(242, 242, 242, 0.1);
	width: 100%;
	border-radius: 10px;

}
#tab_template tr{
	height: 40px;
	background: #404040;
	color: #fff;
	font-size: 15px;
}
#tab_template tr:nth-child(even){
	background: #333;
}

#tab_template tr:hover {
	background: orange;
	color: #000;
}
#tab_template tr:hover input[type=text] {
	color: #000;
}
#tab_template tr td:first-child{
	width: 200px;
}

#tab_template tr td:last-child input.content{
	width: 100%;
}
#btn_save {
	width: 200px;
	height: 40px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	border: 2px solid #555;
	text-align: center;
	font-size: 15px;
}
#btn_save:hover {
	background: orange;
	color: #000;
}


