/*
* @Author: myliu
* @Date:   2017-10-17 18:04:19
* @Last Modified by:   lisiyu
* @Last Modified time: 2017-11-14 10:35:18
*/
/*
 * 清除默认效果
 */
*{
	margin: 0;
	padding: 0;
}
.nav {
	width: 100%;
	min-height: 56px;
	background-color: #3498db;
}

/* input,button
{
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	border:0px;
	vertical-align:middle;
	margin:8px;
	line-height:18px;	
	font-size:18px;
}
.btn6
{
	width:143px;
	height:35px;
	line-height:14px;
	font-size:14px;
	background:url("image/btn_addfield.jpg") no-repeat left top;
	color:#959595;
	padding:0px 0px 2px 14px;	
} */